<div class="magic-return-page">
<div class="magic-return-page-template">
	{% if settings.check_banner %}

	<div class="header-sec" style="background-image: url('{{ settings.magic_banner | img_url: '1800x' }}')">
		<h2 class="main-title">{{ settings.magic_title }}</h2>
	</div>

	{% endif %}

	<div class="main-contents-secs">
		<h2 class="sub-title">{{ settings.magic_mtitle1 }}</h2>
		<h2 class="sub-heading">{{ settings.magic_heading1 }}</h2>
	</div>
	<div class="icons-area icons-area-first">
		<div class="icons-lists">
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon1 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt1 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon2 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt2 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon3 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt3 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon4 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt4 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon5 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt5 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon6 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt6 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon7 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt7 }}</p>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="main-contents-secs">
		<h2 class="sub-heading">{{ settings.magic_heading2 }}</h2>
	</div>
	<div class="icons-area icons-area-second">
		<div class="icons-lists">
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon11 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt11 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon21 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt21 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon31 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt31 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon41 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt41 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon51 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt51 }}</p>
			</div>
			<div class="icon-list">
				<img src="{{ settings.magic_search_icon61 | img_url: '300x' }}">
				<p>{{ settings.magic_search_txt61 }}</p>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>

	<div class="main-contents-sec">
		<div class="content-list">
			<h2>{{ settings.magic_text1 }}</h2>
			<div class="contents-sec">
				{{ settings.magic_txt1 }}
			</div>
		</div>
		<div class="content-list">
			<h2>{{ settings.magic_text2 }}</h2>
			<div class="contents-sec">
				{{ settings.magic_txt2 }}
			</div>
		</div>
		<div class="content-list">
			<h2>{{ settings.magic_text3 }}</h2>
			<div class="contents-sec">
				{{ settings.magic_txt3 }}
			</div>
		</div>
		<div class="content-list">
			<h2>{{ settings.magic_text4 }}</h2>
			<div class="contents-sec">
				{{ settings.magic_txt4 }}
			</div>
		</div>
		<div class="content-list">
			<h2>{{ settings.magic_text5 }}</h2>
			<div class="contents-sec">
				{{ settings.magic_txt5 }}
			</div>
		</div>
	</div>
</div>
<div class="return-details-magic">
  <div class="page-width text-center">
  <h3>Returns</h3>
  <span>Please enter your order details to begin</span>
</div>
  </div>
</div>
