{% if settings.enable_stance_page %}
<main class="{{page.title | handle }} merged-page-template">
 {% comment %} {% include 'breadcrumb' %}{% endcomment %}
  {% comment %}{% include 'page-header' %}{% endcomment %}
  {% comment %}<div class="section page">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item">
          <div class="content">
            {{ page.content }}
          </div>
      </div>
      </div>
    </div>
  </div>{% endcomment %}
<!-- a-set-custom  -->
   {%if  settings.enable_feel_banner_img_stance %}
  
  <section id="page-header">
    <div class="header-background compexpagebn desktop-stance">
      <div class="changable-image" style="background-image: url({{ settings.feel_banner_img_stance | img_url: 'master' }});">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              {%if  settings.enable_stance_page_heading %}

              <h1>{{ page.title }}</h1>
              {% endif %}
              {%if  settings.enable_stance_customhead %}

              <h1>{{ settings.enable_stance_customhead_text }}</h1>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-background mobile-stance">
      <div class="changable-image" style="background-image: url({{ settings.feel_banner_img_stance_mobile | img_url: 'master' }});">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              {%if  settings.enable_stance_page_heading %}

              <h1>{{ page.title }}</h1>
              {% endif %}
              {%if  settings.enable_stance_customhead %}

              <h1>{{ settings.enable_stance_customhead_text }}</h1>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  
  {% comment %}
  {%if settings.enable_video %}
  <div class="a-set-video-container">  
<!--     <div class="a-set-banner-below-img">
     <img src="{{'video-bg.jpg' | asset_url}}">
    </div>  -->
    <video autoplay loop id="a-set-myVideo" controls>
      <source src="{{ settings.video_link }}" type="video/mp4">
      <source src="{{ settings.video_link }}" type="video/ogg">      
      <div class="content">
       <button id="a-set-myBtn" onclick="a-set-myFunction()">Pause</button>
      </div>
    </video>    
    
  </div>
  {% endif %}
  
  {% endcomment %}
  
  
  
  {%if settings.enable_video_bottom_img %}
  <div class="a-set-banner-below-img aset_stance_img">
      <div class="desktop">
        <img src="{{ settings.video_bottom_desk_img | img_url: 'master' }}">
      </div>
    </div>  
    <div class="a-set-banner-below-img-mob">
      <div class="mobile">
        <div class="page-width">
          <div class="a-set-usp">
            <img src="{{ settings.video_bottom_mob_img1 | img_url: 'master' }}">
          </div>
          <div class="a-set-usp">
            <img src="{{ settings.video_bottom_mob_img2 | img_url: 'master' }}">
          </div>
          <div class="a-set-usp">
            <img src="{{ settings.video_bottom_mob_img3 | img_url: 'master' }}">
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  {% comment %}{%if  settings.enable_shop_collection_heading %}
  <div class="a-set-pagecollection">
    <div class="section page">
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="content">
              <h1>{{ settings.a_set_heading1}}</h1>
              <a href="{{ settings.link }}">{{ settings.a_set_shop_collection }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  {% endif %}{% endcomment %}  
  {%if  settings.enable_feel_banner_img %}
  <div class="section a-set-feel-banner-img page">
    <a href="{{ settings.stance_feel_link }}">
      <img src="{{ settings.feel_banner_img | img_url: 'master' }}" alt="feel_banner_img" class="a-set-img" />
    </a>
  </div>
  {% endif %}
  
  {% if settings.stance_countdown %}
    {% include 'countdown' %} 
  {% endif %}
  
  {% if settings.enable_stance_col %}
  <div class="a-set-first-collection">
       {% assign actual_product = product %}
    {% assign vendor = product.vendor %}
    {% assign vendor_handle = vendor | handleize %}
    {% assign handle = product.handle %}
    {% assign brand_products = "" %}
    {% for product in collections[settings.stance_coll].products %}
                {% capture temp %}
                    {{product.handle}}
                    {% if forloop.last == false %},{% endif%}
                {% endcapture %}
                {% assign brand_products = brand_products | append: temp %}
    {% endfor %}
    {% assign product_handles = brand_products | split: ","%}
    {% if product_handles.size > 0 %}
      <section id="by-brand">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              <div class="division-wrap">
                <h1 class="division-title">
                              {{ settings.stance_coll_heading}}
                </h1>
              </div>
            </div>
          </div>
          <div class="">
              <div class="swiper-container slider-carousel-wrap">
                <div class="swiper-wrapper collection-items-holder hot-deals auto-load-col center_reviews">
                  {% assign counter = 0  %}
                  {% assign max_products = 5 | times: 1 %}
                  {% for handle in product_handles %}
                  {% assign counter = counter | plus: 1  %}
                  {% if counter <= max_products %}
                    {% assign product_handle = handle | handleize %}
                    {% assign product = all_products[product_handle] %}
                      <div class="swiper-slide  extra-small--one-whole small--one-half medium-up--one-quarter">
                          {% include 'a-product-card-grid-2' %}
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <!-- Add Arrows -->
     <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
    <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                <div class="stance-view-all-button">
                  <a href="{{ settings.stance_coll_link }}">{{ settings.stance_view_all_buy }}</a>
                </div>
              </div>
          </div>
        </div>
      </section>
    {% endif %}
    {% assign product  = actual_product %}
  </div>
  {% endif %}
  
  {% if settings.enable_stance_first_col %}
  <div class="a-set-first-collection">
       {% assign actual_product = product %}
    {% assign vendor = product.vendor %}
    {% assign vendor_handle = vendor | handleize %}
    {% assign handle = product.handle %}
    {% assign brand_products = "" %}
    {% for product in collections[settings.stance_first_coll].products %}
                {% capture temp %}
                    {{product.handle}}
                    {% if forloop.last == false %},{% endif%}
                {% endcapture %}
                {% assign brand_products = brand_products | append: temp %}
    {% endfor %}
    {% assign product_handles = brand_products | split: ","%}
    {% if product_handles.size > 0 %}
      <section id="by-brand">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              <div class="division-wrap">
                <h1 class="division-title">
                              {{ settings.stance_first_coll_heading}}
                </h1>
              </div>
            </div>
          </div>
          <div class="">
              <div class="swiper-container slider-carousel-wrap">
                <div class="swiper-wrapper collection-items-holder hot-deals auto-load-col center_reviews">
                  {% assign counter = 0  %}
                  {% assign max_products = 5 | times: 1 %}
                  {% for handle in product_handles %}
                  {% assign counter = counter | plus: 1  %}
                  {% if counter <= max_products %}
                    {% assign product_handle = handle | handleize %}
                    {% assign product = all_products[product_handle] %}
                      <div class="swiper-slide extra-small--one-whole small--one-half medium-up--one-quarter">
                          {% include 'a-product-card-grid-2' %}
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <!-- Add Arrows -->
     <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
    <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                <div class="stance-view-all-button">
                  <a href="{{ settings.stance_first_coll_link }}">{{ settings.stance_first_view_all_buy }}</a>
                </div>
              </div>
          </div>
        </div>
      </section>
    {% endif %}
    {% assign product  = actual_product %}
  </div>
  {% endif %}
  {% if settings.enable_stance_second_col %}
  <div class="a-set-second-collection">
       {% assign actual_product = product %}
    {% assign vendor = product.vendor %}
    {% assign vendor_handle = vendor | handleize %}
    {% assign handle = product.handle %}
    {% assign brand_products = "" %}
    {% for product in collections[settings.stance_second_coll].products %}
                {% capture temp %}
                    {{product.handle}}
                    {% if forloop.last == false %},{% endif%}
                {% endcapture %}

                {% assign brand_products = brand_products | append: temp %}
    {% endfor %}
    {% assign product_handles = brand_products | split: ","%}
    {% if product_handles.size > 0 %}
      <section id="by-brand">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              <div class="division-wrap">
                <h1 class="division-title">
                              {{ settings.stance_second_coll_heading}}
                </h1>
              </div>
            </div>
          </div>
          <div class="">
              <div class="swiper-container slider-carousel-wrap">
                <div class="swiper-wrapper collection-items-holder hot-deals auto-load-col center_reviews">
                  {% assign counter = 0  %}
                  {% assign max_products = 5 | times: 1 %}
                  {% for handle in product_handles %}
                  {% assign counter = counter | plus: 1  %}
                  {% if counter <= max_products %}
                    {% assign product_handle = handle | handleize %}
                    {% assign product = all_products[product_handle] %}
                      <div class="swiper-slide extra-small--one-whole small--one-half medium-up--one-quarter">
                          {% include 'a-product-card-grid-2' %}
                      </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <!-- Add Arrows -->
     <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
    <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                <div class="stance-view-all-button">
                 <a href="{{ settings.stance_second_coll_link }}">{{ settings.stance_second_view_all_buy }}</a>
                </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    {% assign product  = actual_product %}
  </div>
  {% endif %}
  {% if settings.enable_stance_performance %}
  <div class="stance-feature-block-container">
         <div class="stance-content-block">
           <div class="content">
             <h2>{{ settings.stance_block_heading1 }}</h2>
             <p>{{ settings.stance_block_desc1 }}</p>
             <a href="{{ settings.stance_block_button1link }}">{{ settings.stance_block_button1 }}</a>
           </div>
         </div>       
         <div class="stance-feature-image-block">
           <img src="{{ settings.stance_block_img1 | img_url: 'original' }}" alt="block_img" class="feature-img" />
         </div>
  </div>
  {% endif %}
  {% if settings.enable_stance_individually %}
  <div class="stance-feature-block-container individually individually-desktop">
         <div class="stance-feature-image-block">
           <img src="{{ settings.stance_block_img2 | img_url: 'original' }}" alt="block_img" class="feature-img" />
         </div>
         <div class="stance-content-block">
           <div class="content">
             <h2>{{ settings.stance_block_heading2 }}</h2>
             <p>{{ settings.stance_block_desc2 }}</p>
             <a href="{{ settings.stance_block_button2link }}">{{ settings.stance_block_button2 }}</a>
           </div>
         </div>
  </div>
  <div class="stance-feature-block-container individually individually-mobile">         
         <div class="stance-content-block">
           <div class="content">
             <h2>{{ settings.stance_block_heading2 }}</h2>
             <p>{{ settings.stance_block_desc2 }}</p>
             <a href="{{ settings.stance_block_button2link }}">{{ settings.stance_block_button2 }}</a>
           </div>
         </div>
         <div class="stance-feature-image-block">
           <img src="{{ settings.stance_block_img2 | img_url: 'original' }}" alt="block_img" class="feature-img" />
         </div>
  </div>
  {% endif %}
  {% if settings.enable_stance_maximum %}
  <div class="stance-feature-block-container">
         <div class="stance-content-block">
           <div class="content">
             <h2>{{ settings.stance_block_heading3 }}</h2>
             <p>{{ settings.stance_block_desc3 }}</p>
             <a href="{{ settings.stance_block_button3link }}">{{ settings.stance_block_button3 }}</a>
           </div>
         </div>       
         <div class="stance-feature-image-block">
           <img src="{{ settings.stance_block_img3 | img_url: 'original' }}" alt="block_img" class="feature-img" />
         </div>
  </div>
  {% endif %}
 
 
<!--  ----------------------------------commented code below----------------------------------------  -->
  
  {%comment%}
  
  {% if settings.enable_a_set_boxingusp %}
  <section id="home-ups-bar" class="hidden-xs  blk_cyb_ups">
  <div class="page-width">
    <div class="grid ">
     <div class="a-set-footer-usp">

        <div class="grid__item medium-up--one-quarter small--one-half extra-small--one-whole icon-wrap-grid-fa">
          <i class="fa {{ settings.a_set_bxicon1 }}"></i>
          <h4>{{ settings.a_set_bxtitle1 }}</h4>
          <div class="description">
            {{ settings.a_set_bxsubtitle1 }}
          </div>
        </div>
      <div class="grid__item medium-up--one-quarter small--one-half extra-small--one-whole icon-wrap-grid-fa">
          <i class="fa {{ settings.a_set_bxicon2 }}"></i>
          <h4>{{ settings.a_set_bxtitle2 }}</h4>
          <div class="description">
            {{ settings.a_set_bxsubtitle2 }}
          </div>
        </div>
      <div class="grid__item medium-up--one-quarter small--one-half extra-small--one-whole icon-wrap-grid-fa">
          <i class="fa {{ settings.a_set_bxicon3 }}"></i>
          <h4>{{ settings.a_set_bxtitle3 }}</h4>
          <div class="description">
            {{ settings.a_set_bxsubtitle3 }}
          </div>
        </div>
      <div class="grid__item medium-up--one-quarter small--one-half extra-small--one-whole icon-wrap-grid-fa">
          <i class="fa {{ settings.a_set_bxicon4 }}"></i>
          <h4>{{ settings.a_set_bxtitle4 }}</h4>
          <div class="description">
            {{ settings.a_set_bxsubtitle4 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endif %}
  
  {%endcomment%}
  
  
  {%comment%}
  
  
  
  {% if settings.enable_a_set_boxingusp %}
  <div id="" class="shipping-bar-template" style="background:#000;">
  <div class="page-width">
    <div class="">
     <div class="grid">

        <div class="grid__item grid__item medium-up--one-quarter">
         <img src="{{ settings.a_set_bxicon_1 | img_url: '100x100' }}" class="logo-img">
          <div class="main-text__text">
             <p>{{ settings.a_set_bxtitle1 }}</p>
             <p>{{ settings.a_set_bxsubtitle1 }}</p>
          </div>
        </div>
      <div class="grid__item grid__item medium-up--one-quarter">
<!--           <i class="fa {{ settings.a_set_bxicon2 }}"></i>           -->
        <img src="{{ settings.a_set_bxicon_2 | img_url: '100x100' }}" class="logo-img">
          <div class="main-text__text">
            <p>{{ settings.a_set_bxtitle2 }}</p>
            <p>{{ settings.a_set_bxsubtitle2 }}</p>
          </div>
        </div>
      <div class="grid__item grid__item medium-up--one-quarter">
<!--           <i class="fa {{ settings.a_set_bxicon3 }}"></i>           -->
        <img src="{{ settings.a_set_bxicon_3 | img_url: '100x100' }}" class="logo-img">
          <div class="main-text__text">
            <p>{{ settings.a_set_bxtitle3 }}</p>
            <p>{{ settings.a_set_bxsubtitle3 }}</p>
          </div>
        </div>
      <div class="grid__item grid__item medium-up--one-quarter">
<!--           <i class="fa {{ settings.a_set_bxicon4 }}"></i>           -->
        <img src="{{ settings.a_set_bxicon_4 | img_url: '100x100' }}" class="logo-img">
          <div class="main-text__text">
            <p>{{ settings.a_set_bxtitle4 }}</p>
            <p>{{ settings.a_set_bxsubtitle4 }}</p>
          </div>
        </div>
       {
        "type": "image_picker",
        "id": "a_set_bxicon_1",
        "label": "First Logo"
      },
      {
        "type": "text",
        "id": "a_set_bxtitle1",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "a_set_bxsubtitle1",
        "label": "Subtitle 1"
      },
      {
        "type": "image_picker",
        "id": "a_set_bxicon_2",
        "label": "Second Logo"
      },
      {
        "type": "text",
        "id": "a_set_bxtitle2",
        "label": "Title 2"
      },
      {
        "type": "text",
        "id": "a_set_bxsubtitle2",
        "label": "Subtitle 2"
      },
      {
        "type": "image_picker",
        "id": "a_set_bxicon_3",
        "label": "Third Logo"
      },
      {
        "type": "text",
        "id": "a_set_bxtitle3",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "a_set_bxsubtitle3",
        "label": "Subtitle 3"
      },
      {
        "type": "image_picker",
        "id": "a_set_bxicon_4",
        "label": "Fourth Logo"
      },
      {
        "type": "text",
        "id": "a_set_bxtitle4",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "a_set_bxsubtitle4",
        "label": "Subtitle 4"
      }
      </div>
    </div>
  </div>
</div>
  {% endif %}
  
  
  
  {%endcomment%}
<!-- a-set-custom-end  -->
</main>
{% include 'join-the-crew' %}
{% section 'newsletter-section' %}

 {% if settings.enable_a_set_boxingusp %}
   {% section 'main-bar' %}
  {% endif %}
<iframe
src="https://asia.creativecdn.com/tags?id=pr_xplitdU3nLQ7IK7KFYpl&amp;ncm=1"
width="1" height="1" scrolling="no" frameBorder="0" style="display: none;"></iframe>

{% endif %}

