 {%if  settings.enable_pointouts_ups != blank %}
<section id="pointouts">
  <div class="page-width">
    <div class="grid grid--uniform">
      <div class="grid__item extra-small--one-whole small--one-half medium-up--one-quarter">
        <div class="icon-holder">
          <i class="fa {{ settings.pointoutsicon1 }}" aria-hidden="true"></i>
        </div>
        <h5>{{ settings.pointoutstitle1 }}</h5>
        <h6>{{ settings.pointoutssubtitle1 }}</h6>
      </div>
      <div class="grid__item extra-small--one-whole small--one-half medium-up--one-quarter">
        <div class="icon-holder">
          <i class="fa {{ settings.pointoutsicon2 }}" aria-hidden="true"></i>
        </div>
        <h5>{{ settings.pointoutstitle2 }}</h5>
        <h6>{{ settings.pointoutssubtitle2 }}</h6>
      </div>
      <div class="grid__item extra-small--one-whole small--one-half medium-up--one-quarter">
        <div class="icon-holder">
          <i class="fa {{ settings.pointoutsicon3 }}" aria-hidden="true"></i>
        </div>
        <h5>{{ settings.pointoutstitle3 }}</h5>
        <h6>{{ settings.pointoutssubtitle3 }}</h6>
      </div>
      <div class="grid__item extra-small--one-whole small--one-half medium-up--one-quarter">
        <div class="icon-holder">
          <i class="fa {{ settings.pointoutsicon4 }}" aria-hidden="true"></i>
        </div>
        <h5>{{ settings.pointoutstitle4 }}</h5>
        <h6>{{ settings.pointoutssubtitle4 }}</h6>
      </div>
    </div>
  </div>
</section>
{% endif %}