{% include 'breadcrumb' %}

{% assign in_hats_collection = false %}
{% for collection in product.collections %}
  {% if in_hats_collection == false and collection.title == 'Shoes' %}
    {% assign in_hats_collection = true %}

  {% endif %}
{% endfor %}

{% assign in_shipping_method = false %}
{% assign in_preorder_tag = false %}
{% assign collectionids = '' %}
{% assign coll_freeship = '' %}
{% assign coll_free_exp_ship = '' %}
{% assign ships_separatly = '' %}
{% assign three_ships_free = '' %}
{% assign heavy_bulky = '' %}
{% assign freesheep = '' %}
{% assign free_exp_sheep = '' %}
{% assign drop_ships = '' %}
{% assign sticker_flag = 0 %}
{% assign cart_flag = 0 %}
{% assign isBulky = 0 %}
{% assign coll_freeship = collections[settings.free_shipping].id %}
{% assign coll_free_exp_ship = collections[settings.free_Express_shipping].id %}
{% assign ships_separatly = collections[settings.drop_ships].id %}
{% assign three_ships_free = collections[settings.three_ships_free].id %}
{% assign heavy_bulky = collections[settings.bulky_items].id %}
{% for pcollection in product.collections %}
{% if pcollection.id == coll_freeship %}
{% assign freesheep = pcollection.id %}
{% endif %}
{% if pcollection.id == coll_free_exp_ship %}
{% assign free_exp_sheep = pcollection.id %}
{% endif %}
{% if pcollection.id == ships_separatly %}
{% assign drop_ships = pcollection.id %}
{% endif %}
{% if forloop.index == 1 %}
{% assign collectionids = pcollection.id %}
{% else %}
{% assign collectionids = collectionids | append:',' | append:pcollection.id %}
{% endif %}
{% endfor %}
{% assign prtag = '' %}
{% for tag in product.tags %}
{% if tag == 'countdown' or tag == 'Countdown'%}
{% assign prtag = tag %}
<span style="display:none;" class="pcol">{{product.type}}</span>
<section id="shipping-countdown">
  <div class="shipping-txt-bar">
    {% unless section.settings.logo_link == blank  %}<a href="{{ section.settings.logo_link }}">{% endunless %}
    {% if section.settings.logo_title == blank %}
    {% assign count = "2019/01/01" %}
    {% else %}
    {% assign count = section.settings.logo_title %}
    {% endif %}
    <div class="shipping-title">

      {{ settings.countdown_text}}

    </div>
    {% unless section.settings.logo_link == blank  %}</a>{% endunless %}
  </div>
</section>
{% endif %}
{% endfor %}


<div class="product-template__container page-width-large" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
  {% when 'small' %}
  {%- assign product_image_width = 'medium-up--one-third' -%}
  {%- assign product_description_width = 'medium-up--two-thirds' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
  {%- assign height = 345 -%}
  {% when 'medium' %}
  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
  {%- assign height = 530 -%}
  {% when 'large' %}
  {%- assign product_image_width = 'medium-up--two-thirds' -%}
  {%- assign product_description_width = 'medium-up--one-third' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
  {%- assign height = 720 -%}
  {% when 'full' %}
  {%- assign product_image_width = '' -%}
  {%- assign product_description_width = '' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
  {%- assign height = 1090 -%}
  {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single">
    <div class="grid__item product-single__photos {% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      <div class="product-thumbnail">
        <div class="product-thumbnail-slider">
          {% for image in product.images %}
          <div class="sldier-list {% if image.alt contains 'youtube' or image.alt contains 'vimeo' or image.alt contains 'files' or image.alt contains 'mp4' %}sldier-list-video{% endif %}"><img class="product-single__thumbnail-image lazyload" data-src="{{ image.src | img_url: '200x200' }}" alt="{{ image.alt | escape }}"></div>
          {% endfor %}

        </div>
        {% comment %}{% unless product.metafields.video.thumb_video_image == blank %}
        <div class="sldier-list-youtube">
          <img class="product-single__thumbnail-image" src="{{ product.metafields.video.thumb_video_image }}" alt="{{ image.alt | escape }}">
        </div>
        {% endunless %}{% endcomment %}
      </div>
      <div class="product-mains">
        <div class="product-main-slider">
          
          
          
          {% for image in product.images %}
          <div class="product-main-list">
            <div class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}">
              
              {% if image.alt contains "files" %}
              {% assign url = image.alt | split: ':' | last %}
              {% assign urldata = image.alt %}
              <div class="product-sigle-video-sec">
               {% comment %} <iframe class="feature-row__image" src="{{ urldata }}" style="width: 100%; height: 100%;" frameborder="0" allowfullscreen=""></iframe> {% endcomment %}
                 <video class="feature-row__image" style="width: 100%; height: 100%;" autoplay muted loop><source src="{{ urldata }}" type="video/mp4"></video>
              </div>
              
              {% elsif image.alt contains 'mp4' %}
              {% assign url = image.alt | split: ':' | last | append: '?autoplay=1' %}
              {% assign urldata = image.alt %}
              <div class="product-sigle-video-sec">
                {% comment %}<iframe class="feature-row__image" src="{{ urldata }}" style="width: 100%; height: 100%;" frameborder="0" allowfullscreen=""></iframe> {% endcomment %}
                 <video autoplay muted loop class="feature-row__image" style="width: 100%; height: 100%;"><source src="{{ urldata }}" type="video/mp4"></video>
              </div>

              {% elsif image.alt contains 'vimeo' %}
              {% assign url = image.alt | split: ':' | last | append: '?autoplay=1' %}
              {% assign urldata = image.alt %}

              <div class="product-sigle-video-sec">
                <iframe class="feature-row__image" src="{{ url }}" style="width: 100%; height: 100%;" ></iframe>
              </div>
              {% endif %}

              <img class="feature-row__image lazyload" data-src="{{ image | img_url: '800x800' }}">
            </div>
          </div>
          {% endfor %}
          
          
          
        </div>

        {% comment %}{% unless product.metafields.video.thumb_video == blank %}
        <div class="product-main-list-youtube">
          <div class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}">
            <iframe class="feature-row__image" src="{{ product.metafields.video.thumb_video }}" style="width: 100%; height: 100%;"></iframe>
          </div>
        </div>
        {% endunless %}{% endcomment %}

        <div class="product-fanchybox-sec">
          {% for image in product.images %}
          <div class="gallery-list gallery-list-{{ forloop.index0 }}">
            <a class="fancybox" href="{{ image | img_url: '1600x1600' }}" data-fancybox="images" title="">
              <div class="gallery-list-section gallery-list-sec" style="background-image: url({{ image | img_url: '40x40' }}); width: 10px; height: 10px;">
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <div id="gas-electric-hover" class="hide">
          <span class="custom-cursor-zoom"><img src="{{ 'zoom-icon-final.png' | asset_url }}"></span>
          <span class="custom-cursor-number"></span>
        </div>
        <div class="mob-thumbnail-slider">
          {% for image in product.images %}
          <div class="sldier-list"><img class="product-single__thumbnail-image lazyload" data-src="{{ image.src | img_url: '200x200' }}" alt="{{ image.alt | escape }}"></div>
          {% endfor %}
        </div>
      </div>
      {% comment %}
      <div class="product-mains">
        {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>

        {% endfor %}

        <noscript>
          {% capture product_image_size %}{{ height }}x{% endcapture %}
          <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
        </noscript>
      </div>

      {% if product.images.size > 1 %}
      {% if product.images.size > 3 %}
      {%- assign enable_thumbnail_slides = true -%}
      {% endif %}

      <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
        {% if enable_thumbnail_slides == true %}
        <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
          {% include 'icon-chevron-left' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
        </button>
        {% endif %}
        <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
          {% for image in product.images %}
          <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
            <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
               data-thumbnail-id="{{ image.id }}"
               {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
              <img class="product-single__thumbnail-image lazyload" data-src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if enable_thumbnail_slides == true %}
        <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
          {% include 'icon-chevron-right' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
        </button>
        {% endif %}
      </div>
      {% endif %}
      {% endcomment %}
    </div>

    <div class="grid__item product-single-desription">
      <div class="product-single__meta product-single__meta-{{ settings.star_color }}">
        <div class="brand_name">
          {% assign handle = product.vendor | handleize %}

          <a href="{{ collections[handle].url }}">
            <h5>{{ product.vendor }}</h5>
          </a>

          {% if product.metafields.brand.brand_logo == blank %}
          {% capture brand %}brand-{{ product.vendor | handleize }}.png{% endcapture %}
          {% comment %}<img class="logo-nike" src='{{ brand | asset_url }}'>
          <a href="{{ collections[handle].url }}">
            <h5>{{ product.vendor }}</h5>
          </a>{% endcomment %}
          {% else %}

          {% comment %}<a href="{{ collections[handle].url }}">
          <img class="logo-nike" src="{{ product.metafields.brand.brand_logo }}">
          </a>{% endcomment %}

          {% endif %}
        </div>
        {% comment %}<img class="logo-nike" src="{{ 'nike-logo.png' | asset_url }}">{% endcomment %}
        <h1 itemprop="name" class="product-single__title main-txt-title">{{ product.title }}</h1>

        {% if section.settings.show_review %}
        {% include 'okendo-reviews-product-rating-summary' %}
        {% endif %}

        {% if section.settings.show_vendor %}
        <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% if product.price_max > product.price %} <span class="product-single__title main-txt-title">From </span> {% endif %}
            <s id="ComparePrice-{{ section.id }}"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_compare_price" data-override-value-set="1" data-override-value="{{ current_variant.compare_at_price }}" style="display:none !important;"></span>{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
              <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" class="main-txt-title">
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>{{ current_variant.price | money }}
              </span>
              {% comment %} <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>  {% endcomment %}
            </span>
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% if product.price_max > product.price %} <span class="product-single__title main-txt-title">From </span> {% endif %}
            <s id="ComparePrice-{{ section.id }}" class="hide"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_compare_price_2" data-override-value-set="1" data-override-value="{{ current_variant.compare_at_price }}" style="display:none !important;"></span>{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }}">

              <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" class="main-txt-title">
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_2" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span> {{ product.price_min | money }}
              </span>
              {% comment %}<span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span> {% endcomment %}
            </span>
            {% endif %}


          </p>
          {% if settings.product_sticker_status %}
          
          <div class="free-icons">
            <ul class="shipping_methods" >
              {% for block in section.blocks %}
              {% if block.type == 'shipping_methods' %}
              {% assign collectionh = block.settings.collection %}
              {% if collectionids contains collections[collectionh].id %}

              {% if sticker_flag == 0 %}
                {% if freesheep != '' and free_exp_sheep != '' %}
                  {% assign sticker_flag = 1 %}
              {% if settings.freeexpress or settings.freeexpress_first !='' or settings.freeexpress_last !='' %}
                  <li class="free-express-shipping {% if settings.freeexpress %} {% else %} freebg  {% endif %}">
                  {% if settings.freeexpress %}
                  <img src="{{ settings.freeexpress | img_url: '150x150' }}">
                    {% else %}
                   <span>{{settings.freeexpress_first}}</span>
                   <span>{{settings.freeexpress_last}}</span>
                  {% endif %}
                  </li>
               {% endif %}
                {% else %}
                  {% if collections[collectionh].id == coll_free_exp_ship %}
              	 {% if settings.freeexpress or settings.freeexpress_first !='' or settings.freeexpress_last !='' %}
                      <li class="free-express-shipping {% if settings.freeexpress %} {% else %} freebg  {% endif %}">
                      {% if settings.freeexpress %}
                      <img src="{{ settings.freeexpress | img_url: '150x150' }}">
                        {% else %}
                   <span>{{settings.freeexpress_first}}</span>
                   <span>{{settings.freeexpress_last}}</span>
                         
                      {% endif %}
                    {% endif %}
                      </li>
                  {% endif %}


              {% if coll_freeship != "" %}
                  {% if collections[collectionh].id == coll_freeship %}
                        {% if settings.freeshiping or settings.freeshiping_first !='' or settings.freeshiping_last !='' %}
                              <li class="freeshipping {% if settings.freeshiping %} {% else %} freebg  {% endif %}">
                              {% if settings.freeshiping %}

                              <img src="{{ settings.freeshiping | img_url: '150x150' }}">
                                {% else %}
                   <span>{{settings.freeshiping_first}}</span>
                   <span>{{settings.freeshiping_last}}</span>

                              {% endif %}
                              </li>
                       {% endif %}

                  {% endif %}
                {% endif %}
              {% endif %}
               {% endif %}


{% if in_hats_collection %}
             

               {% if block.settings.shipping_method == 'return_on_shoes' %}
              	{% if settings.returnonshoes or settings.returnonshoes_first !='' or settings.returnonshoes_last !='' %}
                 <li class="return_on_shoes {% if settings.returnonshoes %} {% else %} freebg  {% endif %}">
                 {% if settings.returnonshoes %}
                 <img src="{{ settings.returnonshoes | img_url: '150x150' }}">
                   {% else %}
                   <span>{{settings.returnonshoes_first}}</span>
                   <span>{{settings.returnonshoes_last}}</span>
                 {% endif %}
                 </li>
               {% endif %}
              {% endif %}
  {% endif %}

			  {% if heavy_bulky != "" %}
              {% if collections[collectionh].id == heavy_bulky %}
              {% if settings.blikyitems or settings.blikyitems_first !='' or settings.blikyitems_last !='' %}
              <li class="blikyitems {% if settings.blikyitems %} {% else %} freebg  {% endif %}">
              {% if settings.blikyitems %}
              <img src="{{ settings.blikyitems | img_url: '150x150' }}">
                {% else %}
                   <span>{{settings.blikyitems_first}}</span>
                   <span>{{settings.blikyitems_last}}</span>
              {% endif %}
              </li>
              {% endif %}
              {% assign isBulky = 1 %}
              {% endif %}
              {% endif %}

			{% comment %}
			  {% if three_ships_free != "" %}
              {% if collections[collectionh].id == three_ships_free %}
              {% if settings.threeships or settings.threeships_first !='' or settings.threeships_last !='' %}
              <li class="3-Ships-Free {% if settings.threeships %} {% else %} freebg  {% endif %}">
              {% if settings.threeships %}
              <img src="{{ settings.threeships | img_url: '150x150' }}">
                {% else %}
                   <span>{{settings.threeships_first}}</span>
                   <span>{{settings.threeships_last}}</span>
              {% endif %}
              </li>
              {% endif %}
              {% endif %}
              {% endif %}
		{% endcomment %}
              
			  {% if ships_separatly != "" %}
              {% if collections[collectionh].id == ships_separatly %}
              {% if settings.separately or settings.separately_first !='' or settings.separately_last !='' %}
              <li class="ships-separately {% if settings.separately %} {% else %} freebg  {% endif %}">
              {% if settings.separately %}
              <img src="{{ settings.separately | img_url: '150x150' }}">
                 {% else %}
                   <span>{{settings.separately_first}}</span>
                   <span>{{settings.separately_last}}</span>
              {% endif %}
              </li>
              {% endif %}
              {% endif %}
              {% endif %}

              {% if block.settings.shipping_method == 'same_day_shipping' and prtag != '' %}
               {% if settings.separately or settings.separately_first !='' or settings.separately_last !='' %}
              <li class="ships-separately {% if settings.separately %} {% else %} freebg  {% endif %}">
              {% if settings.separately %}
              <img src="{{ settings.separately | img_url: '150x150' }}">
                {% else %}
                   <span>{{settings.separately_first}}</span>
                   <span>{{settings.separately_last}}</span>
              {% endif %}
              </li>
               {% endif %}
              {% endif %}

              {% endif %}

              {% endif %}
              {% endfor %}
            </ul>
          </div>

		{% endif %}
          <div class="clearfix"></div>
		  {% include 'product-afterpay' %}
          <!-- Zip WIDGET -->          
          <div data-zm-merchant="25673dd4-b934-482b-a8a3-53ef04dc7136" data-env="production"></div>
          
          <style>
            .shopify-zip-prod-widget > iframe {
              height: 60px!important;
              max-width: min-content!important;
              margin-bottom: -20px;
            }
                .a-size-chart-lightbox p .size-desc{display: inline-block;
    padding: 0;     position: relative;
    top: -1px;
            line-height: 1;}
          </style>
          <span style="cursor:pointer" class="shopify-zip-prod-widget" data-zm-asset="productwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog"></span>
          <!-- end Zip WIDGET -->
          {% include 'shipping-countdown' %}
          

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

            {% for block in section.blocks %}
            {% if block.type == 'shipping_methods' %}

            {% assign collectionh = block.settings.collection %}
            {% if collectionids contains collections[collectionh].id %}

            {% if cart_flag == 0 %}
              {% if freesheep != '' and free_exp_sheep != '' %}
              	{% assign cart_flag = 1 %}
              	<input type="hidden" name="properties[_free_express_shipping!]" value="{{settings.freeexpress_first}} - {{settings.freeexpress_last}}">
              {% else %}
              	{% if collections[collectionh].id == coll_free_exp_ship %}
                	<input type="hidden" name="properties[_free_express_shipping!]" value="{{settings.freeexpress_first}} - {{settings.freeexpress_last}}">
                {% endif %}

                {% if collections[collectionh].id == coll_freeship %}
                	<input type="hidden" name="properties[_free_shipping!]" value="{{settings.freeshiping_first}} - {{settings.freeshiping_last}}">
                {% endif %}
              {% endif %}
            {% endif %}

			{% comment %}
            {% if collections[collectionh].id == three_ships_free %}
            <input type="hidden" name="properties[_three_ships_free!]" value="{{'3-Ships-Free.png' | asset_url}}">
            {% endif %}
            {% endcomment %}
            
            {% comment %}
            {% if collections[collectionh].id == ships_separatly %}
            <input type="hidden" name="properties[_return_on_shoes!]" value="{{settings.returnonshoes_first}} - {{settings.returnonshoes_last}}">
            {% endif %}
            {% endcomment %}

            {% if collections[collectionh].id == ships_separatly %}
            <input type="hidden" name="properties[_drop_ships!]" value="{{settings.separately_first}} - {{settings.separately_last}}">
            {% endif %}

            {% if collections[collectionh].id == heavy_bulky %}
            <input type="hidden" name="properties[_bulky_items!]" value="{{settings.blikyitems_first}} - {{settings.blikyitems_last}}">
            {% assign isBulky = 1 %}
            {% endif %}

            {% if block.settings.shipping_method == 'same_day_shipping' and prtag != '' %}
            <input type="hidden" name="properties[_same_day_shipping!]" value="{{settings.separately_first}} - {{settings.separately_last}}">
            {% endif %}

            {% endif %}

            {% endif %}
            {% endfor %}



            {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
            {% assign name = option.name | handleize %}
            {% if name == 'color' or name == 'colour' %}

            <div class="select-color-lists">
              <label class="label-title main-txt-title">Colour</label>
              <div class="select-color-sec">

                {% assign size_option = option.values | size %}
                {% if size_option > 1 %}
                {% for value in option.values %}

                <div class="color-list color-list-mul {% if option.selected_value == value %} selected{% endif %}" value="{{ value }}">
                  <div class="tooltip-color">{{ value }}</div>
                  {% assign img_color = value | handleize | append: '.png' %}
                  <div class="colour-box colour-box-size " style="background-color: {{ value | handleize | remove: '-' }}; background-image: url({{ img_color| asset_url }}); "></div>
                </div>
                {% endfor %}
                {% else %}
                {% for value in option.values %}

                <div class="color-list {% if option.selected_value == value %} selected{% endif %}">
                  <a href="{{ product.url }}">
                    <div class="tooltip-color">{{ value }}</div>
                    {% assign img_color = value | handleize | append: '.png' %}
                    <div class="colour-box colour-box-size" style="background-color: {{ value | handleize | remove: '-' }};background-image: url({{ img_color| asset_url }});"></div>
                  </a>
                </div>
                {% endfor %}

                {% unless product.metafields.product.colour == blank %}
                {% assign product_handles = product.metafields.product.colour | split: ',' %}
                {% for handle in product_handles %}
                {% unless all_products[handle].has_only_default_variant %}
                {% for option in all_products[handle].options_with_values %}
                {% assign name = option.name | handleize %}
                {% if name == 'color' or name == 'colour' %}
                {% for value in option.values %}

                <div class="color-list">
                  <a href="{{ all_products[handle].url }}">
                    <div class="tooltip-color">{{ value }}</div>
                    {% assign img_color = value | handleize | append: '.png' %}
                    <div class="colour-box" style="background-color: {{ value | handleize | remove: '-' }};background-image: url({{ img_color| asset_url }});"></div>
                  </a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endunless %}

                {% endfor %}
                {% endunless %}
                {% endif %}
                {% comment %}{% for value in option.values %}
                <div class="color-list {% if option.selected_value == value %} selected{% endif %}" value="{{ value }}">

                  {% for block in section.blocks %}
                  {% assign val = value | handleize %}
                  {% assign col = block.settings.title | handleize %}
                  {% if block.type == 'color_img' and val == col %}
                  {% assign cus_product = all_products[block.settings.product] %}

                  {% for image in cus_product.images %}
                  {% if forloop.index == 1 %}{% assign featured_image = image %}{% endif %}
                  {% endfor %}
                  <a href="{{ cus_product.url }}">
                    <img src="{{ featured_image | img_url: '200x200' }}" >
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endfor %}{% endcomment %}
                <div class="clear"></div>
              </div>
            </div>

            {% endif %}
            {% endfor %}

            {% for option in product.options_with_values %}
            {% assign name = option.name | handleize %}
            {% if name != 'color' or name != 'colour' %}
          
             
              {% if option.name == 'SIZE' or option.name == 'Size' or option.name == 'size' %}        
             {%- if product.metafields.sizeguide.size != 0 -%}
             
               <div class="a-size-chart-lightbox">
                   <p onclick="opensizeModal();"> <img src="{{ 'sizegicon.png' | asset_url }}" /> 
                     <span class="size-btn">{{section.settings.sizeguide_btn_text}}</span>
                   </p>
                </div>
              
              <div id="a-sizemyModal" class="a-sizemodal">              
                  <div class="a-size-modal-content">
                      <img src="{{product.metafields.sizeguide.size}}" style="width: 100%;">                      
                      <span class="a-size-close cursor" onclick="closesizeModal()">&times;</span>
                  </div>
              </div>
               {% endif %}
             {% endif %}  
                <div class="selector-wrapper selector-wrapper-{{ option.name | handleize }} js product-form__item">
               <label class="main-txt-title sizelab" {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }} 
              </label>
            
              
                {% comment %}  
              {% if option.name == 'Size' %}
                {% unless product.metafields.description.guide_description == blank %}
                  <span class="size-section"><img src="{{ 'size-guide1.png' | asset_url }}">size guide</span>
                {% endunless %}
              {% endif %}
              
             {% endcomment %}  
              
              <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input select_product_variant" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js ptemplate_variant">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
              {% else %}
              <option disabled="disabled">{{ variant.title }}</option>
              {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
            <div class="product-form__item product-form__item--quantity">
              <label class="main-txt-title" for="Quantity">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
            </div>
            {% endif %}

            <div class="product-form__item product-form__item--submit">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="{% unless current_variant.available %}soldout_btn {% endunless %}btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small--custom{% endif %}">
                <span id="AddToCartText-{{ section.id }}" class="main-txt-title cart-btn">
                   {% for tag in product.tags %}
                    {% assign tag_string = tag | downcase %}
                      {% if tag_string contains 'preorder' %}
                              {% assign in_preorder_tag = true %}
                       {% endif %}
                  	 

                   {% endfor %}
                  
                  

                  {% if in_preorder_tag %}
                  	{% assign today_date = "now" | date: "%s" %}
                  	{% assign instructionsdata = product.metafields.product_enddate %}
                  	{% assign enddatekey = 'product_enddate'  %}
                  	{% assign enddate = instructionsdata[enddatekey] | date: "%s" %}
                     
                          {% if enddate >= today_date %}
                 
                             {{settings.preorder_button_text}}
                          {% else %}
                              {% unless current_variant.available %}
                              {{ 'products.product.sold_out' | t }}
                              {% else %}
                              {{ 'products.product.add_to_cart' | t }}
                              {% endunless %}
                          {% endif %}
                 {% else %}
                    {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                    {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                 {% endif %}
                </span>
              </button>
              
               {% if in_preorder_tag %}  {% else %}<a class="email_popup btn" {% if current_variant.available %}style="display: none;" {{ else }} style="display: block;"{% endif %}href="javascript:;">Email When Available</a> {% endif %}
              
            </div>

            {% if in_preorder_tag %}
            		{% assign today_date = "now" | date: "%s" %}
                  	{% assign instructionsdata = product.metafields.product_enddate %}
                  	{% assign enddatekey = 'product_enddate' %}
                  	{% assign enddate = instructionsdata[enddatekey] | date: "%s" %}
                   
                    {% if enddate >= today_date %}
                        <div class="pre_order pre_order_instruction">
                          {% assign instructions = product.metafields.preorder_underneath %}
                          {% assign instructionsdata = product.metafields.product_enddate %}
                          {% assign key = 'preorder_underneath' %}
                          {% assign enddatekey = 'product_enddate' %}
                          {% if  instructions[key] %} <i class="fa fa-check instruction"></i>{{ instructions[key] }} {% endif %}
                          {% if  instructionsdata[enddatekey] %}<input type="hidden" name="product_enddate" id="product_enddate" value="{{instructionsdata[enddatekey] | date: "%d/%m/%Y" }}">{% endif %}
                        </div>
            		{% endif %}
            {% endif %}

            <div style="clear: both;"></div>
            {% unless product.metafields.description.short_description == blank %}
            <div class="pro-desc-first">
              {{ product.metafields.description.short_description }}
            </div>
            {% endunless %}

            <div class="pro-desc-shipping clearfix">
              <ul class="shipping-lists">
                {% for block in section.blocks %}
                {% if block.type == 'shipping_methods' %}

                {% assign collectionh = block.settings.collection %}
                {% if collectionids contains collections[collectionh].id %}
                {% if block.settings.shipping_method != 'same_day_shipping' and block.settings.shipping_method != 'three_ships_free' and block.settings.shipping_method != 'return_on_shoes' %}
               {% assign in_shipping_method=true %}
                <li class="shipping-list shipping-list-{{ forloop.index }}">
                  {% if block.settings.icon == blank %}
                    <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/tick-c_100x.png?v=1533885374">
                  {% else %}
                    <img src="{{ block.settings.icon | img_url: '100x' }}">
                  {% endif %}
                  <div class="contents">
                    {% unless block.settings.title == blank %}<h5>{{ block.settings.title }}</h5>{% endunless %}
                    {% unless block.settings.subtitle == blank %}<p>{{ block.settings.subtitle }}</p>{% endunless %}
                  </div>
                  {% unless block.settings.content == blank %}
                  <div class="hover-tooltip">{{ block.settings.content }}</div>
                  {% endunless %}
                </li>
                {% endif %}


{% if in_hats_collection %}
              {% if block.settings.shipping_method == 'return_on_shoes'  %}
                            <li class="shipping-list shipping-list-{{ forloop.index }}">
                                {% if block.settings.icon == blank %}
                                  <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/tick-c_100x.png?v=1533885374">
                                {% else %}
                                  <img src="{{ block.settings.icon | img_url: '100x' }}">
                                {% endif %}
                                <div class="contents">
                                  {% unless block.settings.title == blank %}<h5>{{ block.settings.title }}</h5>{% endunless %}
                                  {% unless block.settings.subtitle == blank %}<p>{{ block.settings.subtitle }}</p>{% endunless %}
                                </div>
                                {% unless block.settings.content == blank %}
                                <div class="hover-tooltip">{{ block.settings.content }}</div>
                                {% endunless %}
                              </li>
                {% endif %}
           {% endif %}


                {% if block.settings.shipping_method == 'same_day_shipping' and prtag != '' %}
                <li class="shipping-list shipping-list-{{ forloop.index }}">
                  {% if block.settings.icon == blank %}
                    <img src="https://cdn.shopify.com/s/files/1/0226/0165/files/tick-c_100x.png?v=1533885374">
                  {% else %}
                    <img src="{{ block.settings.icon | img_url: '100x' }}">
                  {% endif %}
                  <div class="contents">
                    {% unless block.settings.title == blank %}<h5>{{ block.settings.title }}</h5>{% endunless %}
                    {% unless block.settings.subtitle == blank %}<p>{{ block.settings.subtitle }}</p>{% endunless %}
                  </div>
                  {% unless block.settings.content == blank %}
                  <div class="hover-tooltip">{{ block.settings.content }}</div>
                  {% endunless %}
                </li>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="shipping-lists">
                {% for block in section.blocks %}
             
                {% if block.type == 'shipping_img' %}

                {% if in_shipping_method %}
                	{% if block.settings.title != 'How much is shipping?' %}
                              <li class="shipping-list shipping-list-{{ forloop.index }}">
                                <div class="image_shipping">{% if block.settings.icon != blank %}<img src="{{ block.settings.icon | img_url: "100x" }}">{% endif %}</div>
                                <div class="contents">
                                  {% unless block.settings.title == blank %}<h5>{{ block.settings.title }}</h5>{% endunless %}
                                  {% unless block.settings.subtitle == blank %}<p>{{ block.settings.subtitle }}</p>{% endunless %}
                                </div>
                                {% unless block.settings.content == blank %}
                                <div class="hover-tooltip">{{ block.settings.content }}</div>
                                {% endunless %}
                              </li>
                	{% endif %}
                {% else %}
                		<li class="shipping-list shipping-list-{{ forloop.index }}">
                                <div class="image_shipping">{% if block.settings.icon != blank %}<img src="{{ block.settings.icon | img_url: "100x" }}">{% endif %}</div>
                                <div class="contents">
                                  {% unless block.settings.title == blank %}<h5>{{ block.settings.title }}</h5>{% endunless %}
                                  {% unless block.settings.subtitle == blank %}<p>{{ block.settings.subtitle }}</p>{% endunless %}
                                </div>
                                {% unless block.settings.content == blank %}
                                <div class="hover-tooltip">{{ block.settings.content }}</div>
                                {% endunless %}
                              </li>
                {% endif %}
                {% endif %}
                {% endfor %}
              </ul>
            </div>



            {% comment %}
            <div class="product-form__item product-form_item-delivery main-txt-title">Delivery: Estimated between Thu. April. 6 and Fri April 10</div>
            {% assign index = false %}
            {% for tag in product.tags %}
            {% if tag contains 'kg' %}
            {% assign nums = tag | split: 'kg' %}
            {% assign num = nums[0] | times: 1  %}
            {% if num > 3 %}{% assign index = true %}{% endif %}
            {% endif %}
            {% endfor %}
            {% if index == true %}
            <div class="product-form__item product-form_item-bulky main-txt-title"><img src="{{ 'bulky-icon1.png' | asset_url }}"> bulky item</div>
            {% endif %}

            {% endcomment %}
          </form>
          {% if isBulky == 1 %}
          {% if settings.calculator_status == true %}
          	{% include 'shipping-calculator' %}
          {% endif %}
          <button type="submit" name="add" id="ShippingAddToCart" style="display:none;" class="btn product-form__cart-submit product-form__cart-submit--small--custom">
            <span id="AddToCartText-product-template" class="main-txt-title">Add to cart</span>
          </button>
          {% endif %}
        </div>


        {% comment %}
        {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% comment %}
{% if section.blocks.size > 0 %}
<div class="product-shipping-bar">
  <div class="sections-area">
    {% for block in section.blocks %}
    {% if block.type == 'logo_image' %}
    <div class="logo-list logo-list-{{ forloop.index }}">
      <a href="{{ block.settings.link }}">
        <img src="{{ block.settings.image | img_url: '50x50' }}">
        <p class="contents main-txt-title">{{ block.settings.title }}</p>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endcomment %}

{% if section.settings.enable_eoyearups %}
<div class="shipping-bar-template" {% if section.settings.ups_bg_color != blank %}style="background-color: {{ section.settings.ups_bg_color }}"{% endif %}>
  <div class="page-width">
    <div class="grid">
      {% for i in (1..4) %}
      {% capture title %}ups_title{{ i }}{% endcapture %}
      {% capture text %}ups_text{{ i }}{% endcapture %}
      {% capture img %}ups_logo{{ i }}{% endcapture %}
      <div class="grid__item grid__item{{ i }} medium-up--one-quarter">
        <img src="{{section.settings[img]}}" />        
        <div class="main-text__text">
          {% if section.settings[title] != blank %}
          <p class="main-text_heading">{{ section.settings[title] }}</p>
          {% endif %}
          {% if section.settings[text] != blank %}
            {{ section.settings[text] }}
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}


<div class="product-single__description rte" itemprop="description">
  <div class="contents">
    <h2 class="title main-ctn-title">description</h2>

    <div class="product-descrp">
      {% assign des = product.description | split: '<!-- product size guide -->' %}
      {{ des[0] | split: '<!-- product description -->' | last }}
      <div class="clear"></div>
    </div>

  </div>
</div>


<div class="main-slider-overlay">
  <div class="main-popup-sec">
    <div class="main-popup-slider">
      {% for image in product.images %}
      <div class="product-main-list-full">
        <div class="product-single__photo-full">
          <img class="feature-row__image-full lazyload" data-src="{{ image | img_url: '1600x1600' }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% comment %}
{% include 'slider-cart-custom' %}

{% if collection %}
<div class="text-center return-link-wrapper">
  <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
    {% include 'icon-arrow-left' %}
    {{ 'products.product.back_to_collection' | t: title: collection.title }}
  </a>
</div>
{% endif %}
{% endcomment %}

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
</script>
{% endunless %}
{% if section.settings.ups_txt_color != blank %}
{% capture id %}#shopify-section-{{ section.id }}{% endcapture %}
  <style>
    {{ id }} .shipping-bar-template .grid__item .main-text__text p {
      color: {{ section.settings.ups_txt_color }};
    }
    {{ id }} .shipping-bar-template .grid__item svg{
      fill:{{ section.settings.ups_txt_color }};
    }

  </style>
{% endif %}
<style>
  .pre_order{    font-weight: bold;
    font-size: 14px;
    text-align: center;
    font-family: pna-l;padding: 0 5px;}
  .pre_order .fa-check{font-size: 16px;margin-right: 5px;}
  /*.afterpay-box-sec .afterpay-box{margin-left: 15px !important;}*/
</style>

<script>  
  
  setInterval(function(){ 
    $("#shopify-section-product-template .fb-messenger-checkbox").css("display","none");
  	$("#shopify-section-product-template .fb-messenger-checkbox").hide();
  }
  , 1000);
  
  $(document).ready(function(){
    checkproductpreorderstatus();
    
    var $mainslider = $(".product-main-slider");
    var $thumslider = $(".product-thumbnail-slider");
    var $cus_thumslider = $(".mob-thumbnail-slider");
    var $popslider = $(".main-popup-slider");

    $thumslider.slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      dots: false,
      vertical: true,
      verticalSwiping: true,
      autoplay: false,
      speed: 500,
      arrows: true,
      asNavFor: $mainslider,
      infinite: true,
      lazyLoad : 'ondemand'
    });

    $mainslider.slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      autoplay: false,
      speed: 500,
      asNavFor: $thumslider,
      asNavFor: $popslider,
      infinite: true,
      lazyLoad : 'ondemand'
    });

    $popslider.slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      autoplay: false,
      speed: 500,
      asNavFor: $mainslider,
      infinite: true,
      lazyLoad : 'ondemand'
    });

    $cus_thumslider.slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      dots: false,
      autoplay: false,
      speed: 500,
      arrows: true,
      asNavFor: $mainslider,
      infinite: true,
      lazyLoad : 'ondemand'
    });



    var date = "{{ count }}";

    jQuery(".shipping-txt-bar .week-section").countdown(date, function(event) {
      jQuery(this).text(
        event.strftime('%w')
      );
    });
    jQuery(".shipping-txt-bar .hour-section").countdown(date, function(event) {
      jQuery(this).text(
        event.strftime('%H')
      );
    });
    jQuery(".shipping-txt-bar .min-section").countdown(date, function(event) {
      jQuery(this).text(
        event.strftime('%M')
      );
    });
    jQuery(".shipping-txt-bar .sec-section").countdown(date, function(event) {
      jQuery(this).text(
        event.strftime('%S')
      );
    });

    $(".select-color-sec .color-list-mul").click(function(){
      if($(this).hasClass("selected")) {

      }else {
        $(".select-color-sec .selected").removeClass("selected");
        $(this).addClass("selected");
        var value = $(this).attr("value");

        $(".selector-wrapper-colour select").val(value);
        $(".selector-wrapper-colour select").change();
        $(".selector-wrapper-color select").val(value);
        $(".selector-wrapper-color select").change();
      }
    });

    $('.product-main-slider .product-main-list').mousemove(function(event) {
      var left = event.pageX - $(this).offset().left - 20;
      var top = event.pageY - $(this).offset().top - 20;
      $('#gas-electric-hover').css({top: top,left: left}).show();
    });
    $('.product-main-slider .product-main-list').mouseout(function() {
      $('#gas-electric-hover').hide();
    });

    $(document).on("click", ".product-main-slider .slick-slide", function(e){
      var num = $(this).attr("data-slick-index");
      var name = "gallery-list-" + num;
      $(".product-fanchybox-sec ." + name + " .gallery-list-section").click();

    });

    //     $(".product-main-slider .slick-slide").click(function(){
    //       var num = $(this).attr("data-slick-index");
    //       var name = "gallery-list-" + num;
    //       $("." + name + " a").click();
    //     });

    $(".product-thumbnail-slider .slick-slide").click(function(){
      var num = $(this).attr("data-slick-index");
      $(".product-main-slider").slick('slickGoTo', num);
      $(".product-main-slider").removeClass("hide-object");
      $(".product-main-list-youtube").hide();
      removeUrl();
    });

    $(".mob-thumbnail-slider .slick-slide").click(function(){
      var num = $(this).attr("data-slick-index");
      $(".product-main-slider").slick('slickGoTo', num);
      $(".product-main-slider").removeClass("hide-object");
      $(".product-main-list-youtube").hide();
      removeUrl();
    });

    $(".product-thumbnail-slider .slick-arrow").click(function(){
      $(".product-main-slider").removeClass("hide-object");
      $(".product-main-list-youtube").hide();
      removeUrl();
    });

    $(".sldier-list-youtube").click(function(){
      $(".product-main-slider").addClass("hide-object");
      $(".product-main-list-youtube").show();
      addUrl();
    });

    function addUrl() {
      var url = $(".product-main-list-youtube iframe").attr("src");

      if(url.indexOf('autoplay=') != -1) {
        var text = url.replace('autoplay=0', 'autoplay=1');
      }else {
        var urls = url.split('?');
        var text = urls[0] + '?autoplay=1&' + urls[1];
      }

      $(".product-main-list-youtube iframe").attr("src", text);
    }

    function removeUrl() {
      var url = $(".product-main-list-youtube iframe").attr("src");

      if(url.indexOf('autoplay=') != -1) {
        var text = url.replace('autoplay=1', 'autoplay=0');
      }

      $(".product-main-list-youtube iframe").attr("src", text);
    }

    setTimeout(function(){
      var width = $(".product-main-slider .product-sigle-video-sec iframe").width();
      $(".product-main-slider .product-sigle-video-sec iframe").css("height", width + "px");
    }, 2000);

    $('.email_popup').click(function(){
      $('.bis-reset').trigger('click');
    });
    
    {% unless current_variant.available %}
      setTimeout(function(){
          $('.bis-reset').trigger('click');
      }, 5200);
    {% endunless %}
    
    //check setinterval function for remove preorder
    setInterval(function(){ 
      	checkproductpreorderstatus();
    }, 3000);
    
    
    
  });
  
  //On load call function 
  
  
  //check preorder function
  function checkproductpreorderstatus(){
    var getproductenddate=$("#product_enddate").val();
   
        if(getproductenddate!=undefined){
            var fullDate = new Date();
          
            //set dd/mm/yyyy format
            //convert month to 2 digits
            var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);

            var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
          
          	//call date function
            var dateObjProduct = getDateObj(getproductenddate);
			var dateObjCurrent = getDateObj(currentDate);
         
          
            //check date comparision
            if(dateObjProduct >= dateObjCurrent) {
 				//console.log("if");
            }else{
              //console.log("else");
              $(".cart-btn").text("ADD TO CART");
              $(".pre_order_instruction").remove();
            }
        }
    

      }
  
      function getDateObj(dateString) {
        var parts = dateString.split('/');
        var date = parts[0];
        var month = parts[1];
        var year = parts[2];
        return new Date(year, month, date);
    }
</script>

{% schema %}
  {
    "name": "Product pages",
	"class": "main-product-template",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "url",
        "id": "logo_link",
        "label": "Logo link"
      },
      {
        "type": "text",
        "id": "logo_title",
        "label": "Coundt down date",
  		  "info": "2018/05/12"
      },
      {
          "type": "image_picker",
          "id": "free_image1",
          "label": "Free shipping logo"
  	  },
  	  {
          "type": "text",
          "id": "free_title1",
          "label": "Free title"
        },
        {
          "type": "image_picker",
          "id": "free_image2",
          "label": "Free shipping logo"
  	  },
  	  {
        "type": "text",
        "id": "free_title2",
        "label": "Free title"
      },
      {
        "type": "text",
        "id": "tooltip1",
        "label": "Tooltip text"
      },
      {
        "type": "text",
        "id": "tooltip2",
        "label": "Tooltip text"
      },
      {
        "type": "text",
        "id": "tooltip3",
        "label": "Tooltip text"
      },
      {
        "type": "checkbox",
        "id": "show_review",
        "label": "Show reviews",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
	  {
          "type": "header",
          "content": "USP BAR"
      },
      {
        "type": "checkbox",
        "id": "enable_eoyearups",
        "label": "Enable USP Section of description"
      },
      {
        "type": "color",
        "id": "ups_bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "ups_txt_color",
        "label": "Text color"
      },
      {
        "type": "text",
        "id": "ups_logo1",
        "label": "First Logo"
      },
      {
        "type": "text",
        "id": "ups_title1",
        "label": "First Title"
      },
      {
        "type": "richtext",
        "id": "ups_text1",
        "label": "First Text"
      },
      {
        "type": "text",
        "id": "ups_logo2",
        "label": "Second Logo"
      },
      {
        "type": "text",
        "id": "ups_title2",
        "label": "Second Title"
      },
      {
        "type": "richtext",
        "id": "ups_text2",
        "label": "Second Text"
      },
      {
        "type": "text",
        "id": "ups_logo3",
        "label": "Third Logo"
      },
      {
      "type": "text",
      "id": "ups_title3",
      "label": "Third Title"
      },
      {
        "type": "richtext",
        "id": "ups_text3",
        "label": "Third Text"
      },
      {
        "type": "text",
        "id": "ups_logo4",
        "label": "Fourth Logo"
      },
      {
        "type": "text",
        "id": "ups_title4",
        "label": "Fourth Title"
      },
      {
        "type": "richtext",
        "id": "ups_text4",
        "label": "Fourth Text"
      },
	  {
        "type": "text",
        "id": "sizeguide_btn_text",
        "label": "Size guide button text"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "header",
            "content": "Logo"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      },
      {
        "type": "color_img",
        "name": "Color",
        "settings": [
          {
            "type": "header",
            "content": "Color"
          },
	        {
			    "type": "product",
            "id": "product",
            "label": "Select product"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Color name"
          }
        ]
      },
	  {
		"type":"shipping_methods",
		"name":"Shipping Methods",
		"settings":[
			{
        "type": "header",
        "content": "Shipping Methods"
	    },
	    {
       "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      },
      {
				"type":"collection",
				"id":"collection",
				"label":"Select Collection"
			},
			{
				"type":"select",
				"id":"shipping_method",
				"label":"Select Shipping Method",
				"options":[
					{
						"value":"free_express_shipping",
						"label":"Free Express Shipping"
					},
					{
						"value":"free_shipping",
						"label":"Free Shipping"
					},
					{
						"value":"bulky_items",
						"label":"Heavy and Bulky Items"
					},
                    {
                      "value":"same_day_shipping",
                      "label":"Same Day Shipping"
                    },
					{
						"value":"drop_ships",
						"label":"Drop Ships (Ships Separately)"
					},
                    {
                      "value":"three_ships_free",
                      "label":"3 Ships Free"
                    },
					{
						"value":"return_on_shoes",
						"label":"Return On Shoes"
					}
				]
			},
			{
			  "type":"text",
			  "id":"title",
			  "label":"Title"
			},
			{
        "type": "text",
        "id": "subtitle",
        "label": "Content"
			},
			{
        "type": "richtext",
        "id": "content",
        "label": "Hover text"
    	}
		]
	  },
      {
        "type": "shipping_img",
        "name": "Shipping Descriptions",
        "settings": [
          {
            "type": "header",
            "content": "Shipping Descriptions"
          },
	        {
		       "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Content"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Hover text"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  ul.shipping_methods li {
    float: left;
    width: 33%;
    margin-left: 10px;
  }

  ul.shipping_methods li:first-child {
    margin: 0;
  }

  ul.shipping_methods {
    float: left;
    width: 100%;
  }
  .template-product .fancybox-outer, .template-product .fancybox-inner {
    position: absolute !important;
  }
</style>
